 <footer>
    <div class="footer-content">
        <ul class="sm-list">
            <li><img src="/img/icons/facebook-brands.svg" alt="Facebook icon"></li>
            <li><img src="/img/icons/twitch.svg" alt="Twitch icon"></li>
            <li><img src="/img/icons/linkedin-brands.svg" alt="Linkedin icon"></li>
            <li><img src="/img/icons/twitter-brands.svg" alt="Twitter icon"></li>
        </ul>
    </div>
     <div class="footer-content">
         <ul class="contact-list">
             <li>Flexstreet 14</li>
             <li>EX14 6NR London</li>
             <li>Tel: +44 (020) 2352 3523</li>
             <li>Mail: contact@gamesandbox.com</li>
         </ul>
    </div>
</footer>
