<header>
    <span></span>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/users">MEMBERS</a></li>
            <li><a href="/users/register">JOIN</a></li>
        </ul>
    </nav>
</header>