<header>
    <span class="navigation-start">
        <span class="header-icon">
            <a href="/">
                <div class="cube"></div>
            </a>
        </span>
        <span class="header-title">Gamers sandbox</span>
    </span>
    <nav class="navigation-meny">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/users">MEMBERS</a></li>
            <li><a href="/users/register">JOIN</a></li>
        </ul>
    </nav>
</header>