<header>
    <span class="navigation-start">
        <a href="/">
            <span class="header-icon">
                <img src="/img/icons/joystick.svg" alt="" class="icon">
            </span>
            <span class="header-title">Gamers Playground</span>
        </a>
    </span>
    <nav class="navigation-meny">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/users">MEMBERS</a></li>
            <li><a href="/users/register">JOIN</a></li>
        </ul>
    </nav>
</header>