@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

div.search-container{
    width:100%;
    max-width: $memberlist-width;
    background-color: #ADADAD;
    border-radius: 12px;
    padding:15px 45px;

    form{
        ul{
            list-style-type: none;
            li{
                display: flex;
                align-items: center;
                margin:10px 0px;
                & > *{
                    margin:0 10px;
                }
                input, select, button{
                    height:40px;
                    border:none;
                    border-radius: 10px;
                    background-color: rgb(235, 235, 235);
                    font-size:1.3em;
                }
                input[type="checkbox"]{
                    border:none;
                    width:20px;
                    height:20px;
                    background-color: rgb(235, 235, 235);
                }
                .input-grp{
                    display: flex;
                    align-items: center;
                    & * {
                        margin:0 3px;
                    }
                }

                button{
                    border-radius: 5px;
                    border: none;
                    padding:0 10px;
                    font-size: 1.4em;
                    cursor:pointer;
                    @include round-colour($light-blue, #5184d1, #8db9fa)
                }
            }
        }
    }
}

div.memberlist-container{
    max-width:$memberlist-width;
    width:100%;
    &.margin-top{
        margin-top:40px;
    }

}
ul.memberlist{
    list-style-type: none;
    li{
        margin-top:10px;
        & + li{
            border-top: 1px solid grey;
        }
        a{
            color:rgb(24, 24, 24);
            text-decoration: none;
            div.profile-container{
                display: flex;
                flex-direction: column;
                padding:15px 20px;
                min-height:100px;
                div.avatar-row-header{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    div.avatar-icon-container{
                        background-color: orange;
                        border-radius: 9px;
                        img{
                            width:70px;
                            height:70px;
                        }

                    }
                    div.profile-names{
                        margin:0px 25px;
                        h2{
                            font-size:1.6em
                        }
                        span{
                            font-size:0.9em
                        }

                    }
                }

                div.active-game-row{
                    display: flex;
                    min-height:60px;
                    align-items: center;
                    padding: 0 20px;
                    span{
                        font-size: 1.2em;
                    }
                }

                &:hover{
                    background-color: #717788;
                }


            }
        }
    }
}

div.avatar-quicklist{
    width:20%;
    margin-top:160px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        li{
            margin:10px 30px;
            a{
                div{
                    border-radius: 10px;
                    background-color: yellow;
                    img{
                        width:$quicklist-avatar-size;
                        height:$quicklist-avatar-size;

                    }

                }
            }
        }

    }
}

@media screen and (min-width:$smart-phones-width){
    body{
        div.main-content{
            aside{
                display:block;
                div.avatar-quicklist{
                    width:10rem;

                }
            }
        }
    }

    div.memberlist-container{
        ul{
            li{
                a{
                    div.profile-container{
                        div.avatar-row-header{
                            flex-direction: row;
                            h2{
                                font-size: 1.9em;
                            }
                        }
                    }
                }
            }
        }
    }
}