<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="main-content">

    <main>
        <h1>Create user</h1>
        <form action="/users/register" method="POST" id="createuser-form" class="form-style">
            <ul>
                <li>
                    <div class="column">
                        <label for="name" class="sr-label">Name</label>
                        <input type="text" name="name" id="name" class="input-field" placeholder="Name">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <label for="email" class="sr-label">Email</label>
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <label for="phone" class="sr-label">Phone</label>
                        <input type="tel" name="phone" id="phone" class="input-field" placeholder="Phone">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <label for="joined" class="sr-label">Joined</label>
                        <input type="date" name="joined" id="joined" class="input-field" placeholder="Date">
                    </div>
                </li>
                <li>
                    <div class="column">
                        <div id="gameslist-container" class="column">

                        </div>

                    </div>
                    <div class="row">
                        <input type="button" value="+" id="add-game" class="plus-button">
                        <label for="add-game">Add game title</label>
                    </div>
                </li>
                <li>
                    <button type="submit" class="round-button">Create user</button>
                </li>
            </ul>
        </form>
    </main>
</div>
<%- include('../partials/footer') %>
<script src="/js/createuserform.js"></script>
<%- include('../partials/end') %>