<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="main-content">
    <main>
        <h1>Startpage</h1>
    </main>

</div>

<%- include('../partials/footer') %>
<%- include('../partials/end') %>