//components
@import './components/link.scss';
@import './components/fields.scss';

//layout
@import './layout/forms.scss';
@import './layout/header-footer.scss';

//pages
@import './pages/memberlist.scss';
@import './pages/userprofile.scss';

//themes
@import './themes/default.scss';


*, *::before, *::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
