a.link-button {
  border-radius: 10px;
  max-width: 200px;
  width: 100%;
  margin: 10px 0px;
  padding: 12px 20px;
  text-align: center;
  color: white;
  text-decoration: none; }
  a.link-button:hover {
    color: white; }
  a.link-button:active {
    color: white; }
  a.link-button.red {
    background-color: #F9234A; }
    a.link-button.red:hover {
      background-color: #dd1e41; }
    a.link-button.red:active {
      background-color: #ff4b6c; }
  a.link-button.blue {
    background-color: #598EF5; }
    a.link-button.blue:hover {
      background-color: #4d7ad4; }
    a.link-button.blue:active {
      background-color: #78a2f7; }

div.current-game-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 300px;
  background-color: #93BAF4; }
  div.current-game-field div.game-icon img {
    width: 50px;
    height: 50px; }
  div.current-game-field span {
    color: black;
    font-size: 1.3em;
    margin-left: 20px; }
  div.current-game-field.small {
    height: 45px; }
    div.current-game-field.small div.game-icon img {
      width: 40px;
      height: 40px; }
    div.current-game-field.small span {
      font-size: 1.1em;
      margin-left: 20px; }

form.form-style ul {
  list-style-type: none; }
  form.form-style ul li {
    position: relative;
    margin: 30px 0px; }
    form.form-style ul li div.column {
      display: flex;
      flex-direction: column; }
    form.form-style ul li div.row {
      display: flex;
      flex-direction: row;
      align-items: center; }
    form.form-style ul li .center {
      align-items: center; }
form.form-style label {
  font-size: 1.3em; }
form.form-style input {
  min-height: 40px;
  font-size: 1.4em;
  margin: 5px 0; }
form.form-style input.input-field {
  border-radius: 15px;
  border: none;
  padding: 10px 5px;
  background-color: #999999;
  color: white; }
  form.form-style input.input-field::placeholder {
    position: relative;
    left: 5px;
    color: #e7e7e7; }
form.form-style label.sr-label {
  position: absolute;
  left: -99999px;
  height: 1px;
  width: 1px;
  overflow: hidden; }
form.form-style .plus-button {
  border-radius: 20px;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #64A2FF; }
  form.form-style .plus-button + label {
    margin-left: 10px;
    cursor: pointer; }
  form.form-style .plus-button:hover {
    background-color: #5184d1; }
  form.form-style .plus-button:active {
    background-color: #8db9fa; }
form.form-style button.round-button {
  border: none;
  border-radius: 20px;
  padding: 20px 15px;
  font-size: 1.4em;
  background-color: #64A2FF; }
  form.form-style button.round-button:hover {
    background-color: #5184d1; }
  form.form-style button.round-button:active {
    background-color: #8db9fa; }

@use './abstracts/mixins';
@use '../abstracts/mixins.scss' as *;
html, body {
  height: 100%; }

html {
  overflow-y: scroll; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-between; }
  body header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    background-color: #2B2D37; }
    body header span.header-icon a > .cube {
      width: 50px;
      height: 50px;
      background-color: orange; }
    body header nav.navigation-meny ul {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      body header nav.navigation-meny ul li {
        list-style-type: none; }
        body header nav.navigation-meny ul li a {
          display: inline-block;
          font-size: 1.1em;
          text-decoration: none;
          color: #2FF3F3;
          height: 60px;
          line-height: 60px;
          transition: background-image 0.3s;
          margin: 0 5px; }
          body header nav.navigation-meny ul li a:hover {
            background-image: linear-gradient(#2B2D37, #40424e, #4949e4); }
  body div.main-content {
    display: flex;
    flex-grow: 1;
    background-color: #555A69; }
    body div.main-content main {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: center; }
    body div.main-content aside {
      display: none; }
  body footer {
    min-height: 200px;
    background-color: #28292C; }

div.search-container {
  width: 100%;
  max-width: 700px;
  background-color: #ADADAD;
  border-radius: 12px;
  padding: 15px 45px; }
  div.search-container form ul {
    list-style-type: none; }
    div.search-container form ul li {
      margin: 10px 0px; }

div.memberlist-container {
  max-width: 700px;
  width: 100%; }
  div.memberlist-container ul {
    list-style-type: none; }
    div.memberlist-container ul li {
      margin-top: 10px; }
      div.memberlist-container ul li + li {
        border-top: 1px solid grey; }
      div.memberlist-container ul li a {
        color: #181818;
        text-decoration: none; }
        div.memberlist-container ul li a div.profile-container {
          display: flex;
          flex-direction: column;
          padding: 15px 20px;
          min-height: 100px; }
          div.memberlist-container ul li a div.profile-container div.avatar-row-header {
            display: flex;
            flex-direction: column;
            align-items: center; }
            div.memberlist-container ul li a div.profile-container div.avatar-row-header div.avatar-icon-container {
              background-color: orange;
              border-radius: 9px; }
              div.memberlist-container ul li a div.profile-container div.avatar-row-header div.avatar-icon-container img {
                width: 70px;
                height: 70px; }
            div.memberlist-container ul li a div.profile-container div.avatar-row-header div.profile-names {
              margin: 0px 25px; }
              div.memberlist-container ul li a div.profile-container div.avatar-row-header div.profile-names h2 {
                font-size: 1.6em; }
              div.memberlist-container ul li a div.profile-container div.avatar-row-header div.profile-names span {
                font-size: 0.9em; }
          div.memberlist-container ul li a div.profile-container div.active-game-row {
            display: flex;
            min-height: 60px;
            align-items: center;
            padding: 0 20px; }
            div.memberlist-container ul li a div.profile-container div.active-game-row span {
              font-size: 1.2em; }
          div.memberlist-container ul li a div.profile-container:hover {
            background-color: #717788; }

div.avatar-quicklist {
  width: 20%;
  margin-top: 160px; }
  div.avatar-quicklist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; }
    div.avatar-quicklist ul li {
      margin: 10px 30px; }
      div.avatar-quicklist ul li a div {
        border-radius: 10px;
        background-color: yellow; }
        div.avatar-quicklist ul li a div img {
          width: 60px;
          height: 60px; }

@media screen and (min-width: 390px) {
  body div.main-content aside {
    display: block; }
    body div.main-content aside div.avatar-quicklist {
      width: 10rem; }

  div.memberlist-container ul li a div.profile-container div.avatar-row-header {
    flex-direction: row; }
    div.memberlist-container ul li a div.profile-container div.avatar-row-header h2 {
      font-size: 1.9em; } }
div.user-background-container {
  width: 100%;
  height: 300px;
  background-color: #a0a0a0; }

div.avatar-profileicon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -140px; }
  div.avatar-profileicon-container div.avatar-icon {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 200px;
    background-color: #e0960d;
    border-radius: 15px; }
    div.avatar-profileicon-container div.avatar-icon img {
      width: 100%;
      height: 100%; }

div.user-info-container {
  display: flex;
  flex-direction: column; }
  div.user-info-container > div.user-profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    min-height: 100px;
    width: 100%; }

ul.games-library-row {
  display: flex;
  flex-direction: row;
  width: 100%; }
  ul.games-library-row li.game-item {
    display: inline-block;
    margin: 5px; }
    ul.games-library-row li.game-item div.game-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 110px; }
      ul.games-library-row li.game-item div.game-container img {
        background-color: grey;
        width: 100px;
        height: 100px; }
      ul.games-library-row li.game-item div.game-container span {
        font-size: 1.1em;
        text-align: center; }

ul.contact-list {
  list-style-type: none; }
  ul.contact-list li {
    margin: 5px 0px;
    display: flex;
    align-items: center; }
    ul.contact-list li i.icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      background-color: grey; }
    ul.contact-list li span {
      margin-left: 10px; }

p, a, h1, h2, h3, span, label {
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
