//components dimensions
$header-height: 60px;
$quicklist-avatar-size:60px;
$memberlist-width:700px;

//colours
$light-blue:#64A2FF;

//media query
$smart-phones-width: 390px;
$desktop-width: 992px;

//fonts

$font-multiplier: 1;
// $font-color:red;

//layouts
$form-input-height:40px;
$form-input-width:200px;
